main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .form-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .toggleAuthFrom{
            text-decoration: none;
            color: #3240e4;
    }

    form {
      width:300px;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
        font-size: 14px;
      }

      button {
        color: whitesmoke;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #ff4d4d;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: #e60000;
        }
      }
    }
  }
}