*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,body,#root{
  height: 100%;
  width: 100%;
  background-color:#494949;
}

.note{
  max-width:250px;
  background-color: gray;
  border-radius: 20px;
  padding: 20px;
  color: antiquewhite;
}

.note p{
  font-size: 18px;
}

.note-create{
  display: flex;
  gap: 1rem;
  padding-inline: 2.5rem;
  padding-block:1rem ;
}



