.feed-page {
  display: flex;
  justify-content: center;
  align-items: center;

  .feed {
    max-width: 250px;
    width: 100%;

    .posts {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.1rem;
    }

    .post {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      background-color: #312626;
      padding-inline: 0.5rem;
      padding-block: 0.5rem;

      .user {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        .img-wrapper {
          border-radius: 50%;
          display: flex;
          justify-items: center;
          align-items: center;
          border: 2px solid red;
          background: conic-gradient(
              from 45deg,
              rgb(202, 25, 25),
              rgb(44, 19, 202)
            )
            border-box;
        }

        img {
          width: 2rem;
          aspect-ratio: 1/1;
          border-radius: 50%;
        }
      }

      .icon {
        display: flex;
        justify-content: space-between;

        .left {
          display: flex;
          gap: 0.5rem;
        }

        .like {
          color: red;
        }
        
        svg {
          width: 1.5rem;
          aspect-ratio: 1/1;
          color: white;
        }
        button {
          background-color: transparent;
          border: none;
          outline: none;
        }
      }
    }
  }
}
